= form_for @customer_order do |f|
  - if @customer_order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customer_order.errors.count, "error")} prohibited this customer_order from being saved:"
      %ul
        - @customer_order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :zip
    = f.number_field :zip
  .field
    = f.label :whole_beef
    = f.text_field :whole_beef
  .field
    = f.label :integer
    = f.text_field :integer
  .field
    = f.label :half_beef
    = f.number_field :half_beef
  .field
    = f.label :qtr_beef
    = f.number_field :qtr_beef
  .field
    = f.label :bbq_hog
    = f.number_field :bbq_hog
  .field
    = f.label :half_hog
    = f.number_field :half_hog
  .field
    = f.label :whole_hog
    = f.number_field :whole_hog
  .field
    = f.label :chickens
    = f.number_field :chickens
  .field
    = f.label :lamb
    = f.number_field :lamb
  .field
    = f.label :bbq_pit
    = f.check_box :bbq_pit
  .field
    = f.label :comments
    = f.text_field :comments
  .actions
    = f.submit 'Save'
