%p#notice= notice

%p
  %b First name:
  = @customer_order.first_name
%p
  %b Last name:
  = @customer_order.last_name
%p
  %b Email:
  = @customer_order.email
%p
  %b Phone:
  = @customer_order.phone
%p
  %b Address:
  = @customer_order.address
%p
  %b City:
  = @customer_order.city
%p
  %b State:
  = @customer_order.state
%p
  %b Zip:
  = @customer_order.zip
%p
  %b Whole beef:
  = @customer_order.whole_beef
%p
  %b Integer:
  = @customer_order.integer
%p
  %b Half beef:
  = @customer_order.half_beef
%p
  %b Qtr beef:
  = @customer_order.qtr_beef
%p
  %b Bbq hog:
  = @customer_order.bbq_hog
%p
  %b Half hog:
  = @customer_order.half_hog
%p
  %b Whole hog:
  = @customer_order.whole_hog
%p
  %b Chickens:
  = @customer_order.chickens
%p
  %b Lamb:
  = @customer_order.lamb
%p
  %b Bbq pit:
  = @customer_order.bbq_pit
%p
  %b Comments:
  = @customer_order.comments

= link_to 'Edit', edit_customer_order_path(@customer_order)
\|
= link_to 'Back', customer_orders_path
