<!DOCTYPE html>
<html>
<head>
  <title>SchmidtFamilyFarms</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row-fluid">
      <div class="span12 header-top">
      </div>
    </div>
    <div class="header-banner">
      <div class="row-fluid">
        <div class="span11 offset1">
          <%= image_tag('logo1.png', alt: "SchmidtFamilyFarms") %>
          <b>Schmidt Family Farms</b>        
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="/">Schmidt Family Farms</a>
          <ul class="nav navbar-nav">
            <li><a href="/index">Home</a>
            <li><a href="/about">About Us</a>
            <li class="dropdown">
              <a href="/products" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/products/beef">Beef</a>
                <li><a href="/products/pork">Pork/Hogs</a>
                <li><a href="/products/chicken">Chickens</a>
                <li><a href="/products/lamb">Lamb</a>
                </ul>
            <li><a href="/services">Services</a>
            <li><a href="/order">Order</a>
            <li><a href="/news">News</a>
            <li><a href="/faq">FAQ</a>
            <li><a href="/contact">Contact Us</a>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <% if session[:admin_id] == nil %>
              <li><a href="/admin_login">Login</a>
            <% else %>
              <li><a href="/admin_index">Admin</a>
              <li><a href="/admin_logout">Logout</a>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="body">
      <center>
        <% flash.keys.each do |key| %>
          <div class="flash flash-<%= key %>">
            <%= flash[key] %>
          </div>
        <% end %>
      </center>

      <%= yield %>
      
    </div>
    <div class="footer">
      <div class="row">
        <div class="span12">
          <hr class="one">
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <p>&copy; Schmidt Family Farms</p>
        </div>
        <div class="span6">
          <p align="right">Web Design by Danielle Van Suchtelen</p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
